body {
    background-color: rgb(228, 250, 250);
}

h1 {
    background-color:rgb(255, 222, 209); ;
    text-align: center;
    font-family: Verdana;
    height: 80px;
    border: 1px solid black;
}

h2 {
    text-align: left;
    font-family: Verdana;
}

h3 {
    text-align: center;
    font-family: Verdana
}

p {
    font-family: Verdana;
}

.div3 {
    background-color:  rgb(218, 238, 238);
    font-family: Verdana;
    width:200px;
    height:auto;
    padding: 3px;
    text-align:center;
    vertical-align:middle;
    border: 1px solid #333333;
}

.div1 {
    background-color: rgb(255, 222, 209);
    width: 1000px;
    border: 1px solid black;
    padding: 50px;
    margin:0 auto;
}