body {
    background-color: rgb(150, 240, 225);
}

h1 {
    background-color:rgb(48, 62, 78);
    text-align: center;
    font-family: Verdana;
    color: white;
    height: 80px;
    border: 1px solid black;
}

h2 {
    text-align: left;
    font-family: Verdana;
}

h3 {
    text-align: center;
    font-family: Verdana
}

p {
    font-family: Verdana;
}

.div3 {
    background-color: rgb(48, 62, 78);
    color: white;
    font-family: Verdana;
    width:200px;
    height:auto;
    padding: 3px;
    text-align:center;
    vertical-align:middle;
    border: 1px solid #333333;
}

.div1 {
    background-color:rgb(88, 185, 157);
    width: 1000px;
    border: 1px solid black;
    padding: 50px;
    margin:0 auto;
}