body {
    background-color: lightblue;
}

h1 {
    background-color: darkseagreen;
    text-align: center;
    font-family: Verdana;
    height: 80px;
}

h2 {
    text-align: left;
    font-family: Verdana;
}

h3 {
    text-align: center;
    font-family: Verdana
}

p {
    font-family: Verdana;
}

.div3 {
    background-color: lightsteelblue;
    font-family: Verdana;
    width:200px;
    height:auto;
    padding: 3px;
    text-align:center;
    vertical-align:middle;
    border: 1px solid #333333;
}

.div1 {
    width: 1000px;
    border: 10px solid darkseagreen;
    padding: 50px;
    margin:0 auto;
  }